h1.heading {
    font-size: 4em !important;
    font-weight: normal!important;
    margin-top: 3em!important;
    margin-bottom: 0!important;
}

h1.heading.mobile {
    font-size: 2em!important;
    margin-top: 1.5em!important;
}

h2.heading {
    font-size: 1.7em!important;
    font-weight: normal!important;
    margin-top: 1.5em!important;
}

h2.heading.mobile {
    font-size: 1.5em!important;
    margin-top: 0.5em!important;
}