.sticky-sidebar {
    float: left;
    margin: 0em 3em 1em 0em;
    position: fixed;
    top: 100px;
    z-index: 10;
}

.sticky-sidebar-content {
    position: relative;
    transition: left 0.5s ease;
    left: 20px;
}