.segment.heading {
    min-height: var(--segmentHeadingMinHeight, 700px);
    padding: 1em 0em;
}

.segment.heading.mobile {
    min-height: var(--segmentHeadingMinHeight, 350px);
}

.pusher.heading {
    min-height: 100vh;
}