.commandblock {
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: inherit;
}

.commandblock.inner {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: #E8E9E8 !important;
    color: #363636 !important;
}